<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataSCienceWebsiteStatistics</title>
    <script src = "{{url_for('static',filename= 'js/about.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static',filename= 'css/about.css')}}">
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>

</head>
<body>

    <div class="Header">
        <img src="{{url_for('static',filename= 'img/anime-saber.gif')}}" alt="logo" class="logo">
        <img src="{{url_for('static',filename= 'img/smile.webp')}}" alt="logo" class="logo">

    </div>
    <h1 style="margin-right: 12vw;">ABOUT</h1>
    <div id="About">
        This project is a project for the Artificial Intelligence university course in Binus University.
    </div>

    <div id = "sidebar">

        <ul class= "options">
            <li><a href="{{url_for('index')}}" style="text-decoration: none;">Home</a></li> 
           <li><a href="{{url_for('about')}}"style="text-decoration: none;">About DSSP</a></li> 
           <li><a href="{{url_for('about')}}"style="text-decoration: none;">Why</a></li> 
        </ul>
        
    </div>

    <div onclick="show()" id = "clickable">
        <span></span>
        <span></span>
        <span></span>
    </div>

    
</body>
</html>